<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" href="../stylesheets/register.css">
</head>

<body>
    <div class="main">
        <form action="/register" method="post">
            <div class="register-form">
                <div class="inner">
                    <label for="username">Username : </label>
                    <input type="text" name="username">
                </div>
                <div class="inner">
                    <label for="id">Id : </label>
                    <input type="text" name="id">
                </div>
                <div class="inner">
                    <label for="email">Email : </label>
                    <input type="email" name="email">
                </div>
                <div class="inner">
                    <label for="name">Designation : </label>
                <input type="text" name="designation">
                </div>
                <div class="inner">
                    <label for="name">Contact : </label>
                <input type="number" name="contact">
                </div>
                <div class="inner">
                    <label for="cars">Department :</label>
                <select name="department" id="department">
                    <option value="default">Choose Department</option>
                    <option value="IT">IT</option>
                    <option value="Social-Media">Social Media</option>
                    <option value="design">Design</option>
                    <option value="Content-Writing">Content Writing</option>
                    <option value="Website-development">Website Development</option>
                </select>
                </div>
                <div class="inner">
                    <label for="name">Password : </label>
                <input type="password" name="password">
                </div>
                <div class="inner">
                    <button class="submit"><div style="font-family: Gilroy; font-size: large;">Signup</div></button>
                </div>
                
                
            </div>
            

        </form>
    </div>
</body>

</html>