

.wrapper{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}

.employees{
    display: flex;
    flex-direction: column;
    margin: 10px;
    
}
.employees-data{
    display: grid;
    grid-template-columns: repeat(6, 1fr);
}
body{
  
    background-color: rgb(232,236,239);
    font-family: 'Gilroy';
   
}