html, body {margin: 0;}

body{
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: rgb(232,236,239);
    font-family: 'Gilroy';
    font-size: large;
    flex-direction: column;
}

.leaves1{
    display: grid;
    grid-template-columns: repeat(7, 1fr);
    gap: 10px;
    justify-items: flex-start;  
    height: 50px;
    align-items: center;
    padding: 10px;
    border-radius: 25px;
    background-color: rgb(228, 214, 236);
}

.task-head{
    display: grid;
    grid-template-columns: repeat(8, 1fr);
    gap: 10px;
    margin: 20px 15px;
    width: 99%;
    justify-items: flex-start;
    align-items: center;
    padding: 15px;
    border-radius: 25px;
    background-color: rgb(252, 252, 252);
    
}
.task1{
    display: flex;
    gap: 100px;
    display: grid;
    grid-template-columns: repeat(8, 1fr);
    gap: 10px;
    justify-items: flex-start;
    height: 50px;
    align-items: center;
    padding: 10px;
    border-radius: 25px;
    background-color: rgb(228, 214, 236);

}