html, body {margin: 0; height: 100%; overflow: hidden}

body{
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: rgb(232,236,239);
    font-family: 'Gilroy';
    font-size: large;
}
.leave-form{
    background-color: rgb(201,183,235);
    display: flex;
    flex-direction: column;
    padding: 40px;
    height: 300px;
    width: 300px;
    gap: 15px;
    border-radius: 10px;
}
.inner{
    display: flex;
    flex-direction: column;
    gap: 5px;
}
.submit{
    cursor: pointer;
    margin-top: 15px;
    height: 35px;
    border-radius: 5px;
    background-color: rgb(255, 255, 255);
    border: none;
    width: 100%;
}
input{
    height: 30px;
}
.submit{
    cursor: pointer;
    margin-top: 15px;
    height: 35px;
    border-radius: 5px;
    background-color: rgb(255, 255, 255);
    border: none;
    width: 100%;
}
