html, body {margin: 0; height: 100%;}

body{
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: rgb(232,236,239);
    font-family: 'Gilroy';
    font-size: large;
}
.wrapper{
    display: flex;
    flex-direction: column;
    gap: 35px;
   border-radius: 10px;
    background-color: rgb(201,183,235);
    min-width: 300px;
    padding: 30px;
}

input{
    height: 30px;
}
select{
    height: 30px;
    width: 100%;
}
.submit{
    cursor: pointer;
    margin-top: 15px;
    height: 35px;
    border-radius: 5px;
    background-color: rgb(255, 255, 255);
    border: none;
    width: 100%;
}
.inner{
    display: flex;
    flex-direction: column;
    gap: 5px;
}
.sm-btn{
    width: 50%;
    height: 35px;

}
.btns{
    display: flex;
    justify-content: space-between;
    gap: 5px;
}